@{
    ViewData["Title"] = "Domů";
}

<div class="landing">

    <img class="bannerImg " src="~/images/nature.jpg">
    <h1 class="mainText" class="text-center">Kufřík</h1>

    <a href="#home_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="home_content" class="allPreviews">

    @{
        int loopcounter = 0;
        foreach (var article in Model)
        {
            <div class="postPreview" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@article.Id">

            @if (loopcounter % 2 == 0)
            {
                <div class="postText">
                    <h2>@article.Title</h2>
                    <p>@(article.Subtitle.Length > 50 ? article.Subtitle.Substring(0, 50) + "..." : article.Subtitle)</p>
                    <a class="readMoreButton" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@article.Id">Přečíst více</a>
                </div>

                @if (article.ImageUrls != null && article.ImageUrls.Length != 0)
                {
                    <div class="postImg" style="background-image: url('@article.ImageUrls[0]');"></div>
                }
            }

            else
            {
                @if (article.ImageUrls != null && article.ImageUrls.Length != 0)
                {
                    <div class="postImg" style="background-image: url('@article.ImageUrls[0]');"></div>
                }

                <div class="postText">
                    <h2>@article.Title</h2>
                    <p>@(article.Subtitle.Length > 50 ? article.Subtitle.Substring(0, 50) + "..." : article.Subtitle)</p>
                    <a class="readMoreButton" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@article.Id">Přečíst více</a>
                </div>
            }

            </div>
            loopcounter++;
        }
    }
</div>




