@{
    ViewData["Title"] = "Domů";
}

<div class="landing">

    <div class="mainBanner" style="background-image: url('/images/nature.jpg'); background-position: center bottom 80%;">

        <h1 class="mainText text-center">Kufřík</h1>

        <a href="#home_content">
            <button class="mainButton" type="button">Více</button>
        </a>

    </div>

</div>

<div id="home_content" class="allPreviews">

    <h2 class="topicH">Předešlé zájezdy</h2>

    @{
        int loopcounter = 0;
        foreach (var article in Model)
        {
            <div class="postPreview" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@article.Id">

            @if (loopcounter % 2 == 0)
            {
                <div class="postText">
                    <h1>@article.Title</h1>
                    <h6>@article.StartDate.ToString("dd. MM. yyyy") - @article.EndDate.ToString("dd. MM. yyyy")</h6>
                    <p>@(article.Subtitle.Length > 50 ? article.Subtitle.Substring(0, 50) + "..." : article.Subtitle)</p>
                    <a class="readMoreButton" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@article.Id">Přečíst více</a>
                </div>

                @if (article.ImageUrls != null && article.ImageUrls.Length != 0)
                {
                    <div class="postImg" style="background-image: url('@article.ImageUrls[0]')"></div>
                }
            }

            else
            {
                @if (article.ImageUrls != null && article.ImageUrls.Length != 0)
                {
                    <div class="postImg" style="background-image: url('@article.ImageUrls[0]');"></div>
                }

                <div class="postText">
                    <h1>@article.Title</h1>
                    <h6>@article.StartDate.ToString("dd. MM. yyyy") - @article.EndDate.ToString("dd. MM. yyyy")</h6>
                    <p>@(article.Subtitle.Length > 50 ? article.Subtitle.Substring(0, 50) + "..." : article.Subtitle)</p>
                    <a class="readMoreButton" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@article.Id">Přečíst více</a>
                </div>
            }

            </div>
            loopcounter++;
        }
    }
</div>




