@{
    ViewData["Title"] = "Zájezdy";
}

<style> .tripNav {color: var(--raw-umber) !important;} .tripNav:hover {color: var(--lion) !important;} </style>


<div class="landing">

    <div class="landingWrapper">

        <div class="mainBanner" style="background-image: url('/images/bridge-banner2.png');"></div>

        <div class="landingText">

            <h1 class="mainText text-center">Zájezdy</h1>

            <a href="#trips_content">
                <button class="mainButton" type="button">Více</button>
            </a>

        </div>

    </div>

</div>

<div id="trips_content">

    @{

        foreach (var singleTrip in Model)
        {

            <div class="imageWrapper" style="background-image: url('@singleTrip.ImageUrls[0]');">

                <div class="tripWrapper">

                    <div class="tripPreview">

                        <div class="slider">slideeeer</div>

                        <div class="tripText">
                            <h1>@singleTrip.Country</h1>
                            <a>@singleTrip.ShortDescription</a>
                        </div>

                        <div class="tripProperties">
                            <h5 class="tripDate">@singleTrip.StartDate.ToString("dd. MM.") - @singleTrip.EndDate.ToString("dd. MM. yyyy")</h5>

                            <a asp-area="" asp-controller="Home" asp-action="Trip" asp-route-id="@singleTrip.Id">
                                <button class="mainButton" type="button">Více</button>
                            </a>

                        </div>

                    </div>

                </div>

        </div>

        }

    }

</div>